<div class="btn_nav">
  <div class="grid-10">
    <div class="nav_btn col-2">
      <a href="#" class="btn btn-blue btn-round btn-email">
        <i><%= image_tag('icons/ic_directions_boat_white_24dp_2x.png', size: "30x30", alt: 'photo gallery') %></i>
        <span class="visuallyhidden">photo gallery</span>
      </a>
    </div>

    <div class="nav_btn col-2">
      <a href="#" class="btn btn-blue btn-round btn-email">
        <i><%= image_tag('icons/ic_people_white_24dp_2x.png', size: "30x30", alt: 'photo gallery') %></i>
        <span class="visuallyhidden">photo gallery</span>
      </a>
    </div>

    <div class="nav_btn col-2">
      <a href="#" class="btn btn-blue btn-round btn-email">
        <i><%= image_tag('icons/ic_place_white_24dp_2x.png', size: "30x30", alt: 'photo gallery') %></i>
        <span class="visuallyhidden">photo gallery</span>
      </a>
    </div>

    <div class="nav_btn col-2">
      <a href="#" class="btn btn-blue btn-round btn-email">
        <i><%= image_tag('icons/ic_photo_camera_white_24dp_2x.png', size: "30x30", alt: 'photo gallery') %></i>
        <span class="visuallyhidden">photo gallery</span>
      </a>
    </div>

    <div class="nav_btn col-2">
      <a href="#" class="btn btn-blue btn-round btn-email">
        <i><%= image_tag('icons/mail-icon-white.png', size: "30x30", alt: 'contact us') %></i>
        <span class="visuallyhidden">contact us</span>
      </a>
    </div>
  </div>
</div>
