<div class="btn_nav">
  <div class="grid-10">
    <div class="nav_btn col-2">
      <%= nav(:root, 'aqua compass', title: 'Home') do %>
          <span class="visuallyhidden"><%= link_to 'Home', root_path %></span>
      <% end %>
    </div>

    <div class="nav_btn col-2">
      <%= nav(:catamaran, 'aqua boat', title: 'About Our Catamaran') do %>
          <span class="visuallyhidden"><%= link_to 'Catamaran', catamaran_path %></span>
      <% end %>
    </div>

    <div class="nav_btn col-2">
      <%= nav(:gallery, 'blue gallery', title: 'Photo Gallery') do %>
          <span class="visuallyhidden"><%= link_to 'Photo Gallery', gallery_path %></span>
      <% end %>
    </div>

    <div class="nav_btn col-2">
      <%= nav(:contact, 'light-teal email', title: 'Contact Us') do %>
          <span class="visuallyhidden"><%= link_to 'Contact Us', contact_path %></span>
      <% end %>
    </div>

    <div class="nav_btn col-2">
      <%= nav(:location, 'green location', title: 'Find Us') do %>
          <span class="visuallyhidden"><%= link_to 'Location', location_path, alt: '' %></span>
      <% end %>
    </div>
  </div>
</div>
