<div class="btn_nav">
  <div class="grid-10">
    <%= nav_btn(:root, 'aqua compass', title: 'Home') %>
    <%= nav_btn(:catamaran, 'teal boat', title: 'About Our Catamaran') %>
    <%= nav_btn(:gallery, 'blue gallery', title: 'Photo Gallery') %>
    <%= nav_btn(:charter, 'light-teal email', title: 'Contact Us') %>
    <%= nav_btn(:location, 'green location', title: 'Find Us') %>
  </div>
</div>
